
.dropzone .dz-preview .dz-error-message
{
    color:white;
}

.main-footer-homologacao {
  background: #fff;
  padding: 15px;
  color: #444;
  border-top: 1px solid #d2d6de;
  background-color: #f39c12;
}

.dz-success-mark{
    background:#008000; 
}

.dz-error-mark{
    background:#FF0000;  
}

.value-negative-color {
  color: #FF0000 ;
}
.real{
    text-align: right;
}

.borda-tabela-relatorio{
   
    border-bottom:3pt groove;
    border-top: 3pt groove;
    
}

.background-tabela-relatorio{
    background-color: #C2CCD1;
}

.dropzone {
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    background:#e5e4e2;
    color : #808080 ;
    font-size: 35px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    height: 400px;  
}  

.borda {
 
    border-style: solid;
    border-color: #000000
}

.dz-remove {
    text-decoration: underline;
    background: #CDCDCD;
 }
.th-tabledit {
   background-color:#C0D9D9;
}

.th-small-font {
   font-size: 11px;
}
 
.orgchart {
  display: inline-block;
  min-height: 150px;
  min-width: 150px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  background-size: 10px 10px;
  border: 1px dashed rgba(0,0,0,0);
  padding: 20px;
}

.orgchart .node .content {
  width: 100%;
  height: 0px;
  font-size: 11px;
  line-height: 18px;
  border: 1px solid rgba(1, 1, 1, 1);
  border-radius: 0 0 4px 4px;
  text-align: center;
  background-color: #fff;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.orgchart .verticalNodes>td>ul>li:first-child::before {
  top: -2px;
  height: 15px;
  width: calc(50% - 2px);
  border-width: 2px 0 0 2px;
}

.orgchart .verticalNodes ul>li::before {
  top: -2px;
  height: 5px;
  width: 11px;
}


.orgchart .node .title {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgba(217, 83, 79, 0.8);
  color: #fff;
  border-radius: 4px 4px 0 0; 
}

.content {
    min-height: 50px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}  

.orgchart .top-level .title {
  background-color: #3c8dbc ;
}
.orgchart .top-level .content {
  border-color: #3c8dbc ;
}
.orgchart .middle-level .title {
  background-color: #3c8dbc;
}
.orgchart .middle-level .content {
  border-color: #3c8dbc;
}
.orgchart .bottom-level .title {
  background-color: #3c8dbc;
}
.orgchart .bottom-level .content {
  border-color: #3c8dbc;
}

.mentions-input-box .mentions-autocomplete-list li:hover,
.mentions-input-box .mentions-autocomplete-list li.active {
    background-color: #19ffdd;
}

.mentions-input-box .mentions-autocomplete-list li b {
    background: #24a5ff;
    font-weight: normal;
}
 .segundo_nivel_profundidade {
    padding-left:40px;
}

.icone_para_string_grande {
    height: 40px;
    display: block;
    float: left;
}

tbody .alinhar_direita {text-align:right;}
thead .alinhar_direita {text-align: right;} 
.table-hover .value-negative-color{vertical-align:top;border-top:4px solid #000000;}
.table-hover .underline{vertical-align:top;border-top:4px solid #000000;}
.tabela-com-div-tr{display: block; border-bottom: 1px solid #f4f4f4;}
.tabela-com-div-th{display: block; float: left;}
.tabela-com-div-conteudo{display: block; padding: 4px 8px ;}
.underline{vertical-align:top;border-top:4px solid #000000;}
.titulo_desdobramento{margin-top:15px;}
.direita_alinhar {text-align:right;}

tbody .alinhar_ao_topo {vertical-align:sub;}
thead .alinhar_ao_topo {vertical-align:sub;} 

/*PIVOT TABLES*/
div[aria-describedby="pivot-config-dialog"]{
    position: absolute !important;
    top: 70px;
    left: 300px;
    background: #fff;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
}
.ui-dialog-titlebar-close:before{
    content: 'x';
    background: #fff;
    border: none;
    float: right;
    font-weight: bold;
}
.ui-dialog-titlebar-close{
    border: none;
    padding: 0;
    float: right;
}

.cypivot{
    font-size: 12px;
}
.div-data-cell {
    text-align: right;
    padding-right:20px;
    padding-left:20px;
}

.dim-cell-icon {
    font-family: 'Glyphicons Halflings';
}
.collapsed-dim-label:before {
    content: "\2b";
}
.expanded-dim-label:before {
    content: "\2212";
}
.dim-label, .div-data-cell{
    line-height: 30px;
}
.dim-label-tipo {
    background-color:#1b85b8;
}
.dim-label-custos {
    background-color:#559e83;
}
.dim-label-ano {
    background-color:#ae5a41;
}
.dim-label-mes {
    background-color:#c3cb71;
}
.dim-label-total {
    background-color:#5a5255;
}
.div-data-cell{
    width: 150px;
}
i.dim-cell-icon:empty{
    display: none;
}

div.editable {
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #fff;
}
div.not-editable {
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #d3d3d3;
}

.fresh-desk-item {
    font-size:12px;
    width:100%;
    background-color:#E8E8E8;
    border-left: 3px solid green;
    margin:3px;
}

.fresh-desk-subitem {
    font-size:12px;
    width:100%;
    margin-left:25px;
    border-left: 3px solid blue;
    margin-top:3px;
}

.invisivel {
    display:none;
}

.width-tabledit
{
    width:300px;   
}




/*.dim-total-cell.level-2{*/
/*display: none;*/
/*}*/